In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.1'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Get:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [407 kB]
Get:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:14 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [58.5 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,781 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,688 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,198 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,365 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [15.8 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [222 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [46.3 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [247 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,129 kB]
Get:25 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [864 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [46.6 kB]
Fetched 11.4 MB in 7s (1,698 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-11-13 19:03:36--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.05MB/s    in 0.8s

2020-11-13 19:03:37 (1.05 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("NCAA").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

Extraction

In [4]:
from pyspark import SparkFiles
# Connecting to S3 for Basketball Stats
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/NBA.csv"
spark.sparkContext.addFile(url)

Stats = spark.read.option("header", "true").csv(SparkFiles.get("NBA.csv"), inferSchema=True, sep=",")
Stats.show(10)

+-----------------+----+---+----+---+----+-------------------+---+---+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
|           Player|Team| GP| MPG|FGM| FGA|                FG%|3PM|3PA|                3P%|FTM|FTA|               FT%|TOV| PF|ORB|DRB|RPG|APG|SPG|BPG| PPG|
+-----------------+----+---+----+---+----+-------------------+---+---+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
|     Tyler Harvey| EWU| 32|36.9|7.2|15.3|              0.469|4.0|9.3|              0.431|4.7|5.5|             0.852|2.0|1.9|0.6|3.0|3.6|2.6|1.1|0.1|23.1|
|     Zeek Woodley| NSU| 32|31.5|8.2|14.6|               0.56|1.2|3.1|0.39799999999999996|4.6|5.7|             0.813|1.2|2.3|1.7|3.3|5.0|1.1|1.0|0.7|22.2|
|       Tyler Haws| BYU| 35|32.1|7.4|15.4|               0.48|1.5|4.2|0.36700000000000005|5.9|6.7|             0.873|2.0|1.4|1.3|3.1|4.5|2.4|0.9|0.3|22.2|
|Denzel Livingston| UIW| 29|36.9|6.6|14.4|              0.455|1.6|4.6|0.34299999999999997|6.8|8.5|             0.805|2.8|3.0|1.5|4.4|5.9|2.9|2.6|1.3|21.5|
|       Damion Lee|DREX| 27|38.1|6.3|14.4|0.43799999999999994|2.4|6.3|              0.385|6.4|7.2|             0.887|1.9|2.2|0.9|5.2|6.1|2.3|1.5|0.3|21.4|
|      Saah Nimley| CSU| 31|35.7|5.9|15.4|              0.384|3.5|9.9|              0.358|6.0|7.4|              0.82|2.7|2.2|0.5|3.5|4.1|4.1|0.9|0.0|21.4|
|        Amere May|DESU| 32|34.2|7.1|17.0|              0.418|2.8|7.2|              0.387|4.0|4.9|             0.821|2.9|1.8|1.0|3.2|4.2|2.7|1.0|0.2|21.0|
|    Corey Hawkins| UCD| 28|33.4|6.7|13.4|              0.503|2.9|5.9|              0.488|4.6|5.6|0.8220000000000001|3.0|1.9|0.7|4.2|4.9|3.4|1.4|0.2|20.9|
|     D.J. Newbill| PSU| 34|37.1|7.1|15.9|               0.45|1.8|4.9|               0.37|4.6|6.1|             0.758|2.6|2.1|1.1|3.6|4.7|3.1|1.3|0.2|20.7|
|        Joe Young|  UO| 36|36.7|7.4|16.4|0.44799999999999995|2.5|7.1|0.35700000000000004|3.4|3.7|             0.925|2.4|1.4|0.5|3.9|4.4|3.8|1.1|0.0|20.7|
+-----------------+----+---+----+---+----+-------------------+---+---+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
only showing top 10 rows

In [5]:
Stats.count()

11762

In [6]:
# Print our schema
Stats.printSchema()

root
 |-- Player: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- GP: integer (nullable = true)
 |-- MPG: double (nullable = true)
 |-- FGM: double (nullable = true)
 |-- FGA: double (nullable = true)
 |-- FG%: double (nullable = true)
 |-- 3PM: double (nullable = true)
 |-- 3PA: double (nullable = true)
 |-- 3P%: double (nullable = true)
 |-- FTM: double (nullable = true)
 |-- FTA: double (nullable = true)
 |-- FT%: double (nullable = true)
 |-- TOV: double (nullable = true)
 |-- PF: double (nullable = true)
 |-- ORB: double (nullable = true)
 |-- DRB: double (nullable = true)
 |-- RPG: double (nullable = true)
 |-- APG: double (nullable = true)
 |-- SPG: double (nullable = true)
 |-- BPG: double (nullable = true)
 |-- PPG: double (nullable = true)

In [7]:
from pyspark import SparkFiles
# Connecting to S3 for NBA draft data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/NBAdraft.csv"
spark.sparkContext.addFile(url)

NBAdraft = spark.read.option("header", "true").csv(SparkFiles.get("NBAdraft.csv"), inferSchema=True, sep=",")
NBAdraft.show(10)

+---+--------------------+------------+--------+
| Pk|              Player|  Conference| College|
+---+--------------------+------------+--------+
|  8|       Collin Sexton|Southeastern| Alabama|
|  1|       Deandre Ayton|      PAC-12| Arizona|
|  7|     Lauri Markkanen|      PAC-12| Arizona|
| 53|        Kadeem Allen|      PAC-12| Arizona|
|  8|     Stanley Johnson|      PAC-12| Arizona|
| 23|Rondae Hollis-Jef...|      PAC-12| Arizona|
| 38|      Daniel Gafford|Southeastern|Arkansas|
| 22|        Bobby Portis|Southeastern|Arkansas|
| 16|         Chuma Okeke|Southeastern|  Auburn|
| 12|Taurean Waller-Pr...|      Big-12|  Baylor|
+---+--------------------+------------+--------+
only showing top 10 rows

In [8]:
NBAdraft.count()

300

In [9]:
# Print our schema
NBAdraft.printSchema()

root
 |-- Pk: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Conference: string (nullable = true)
 |-- College: string (nullable = true)

In [7]:
from pyspark import SparkFiles
# Connecting to S3 for NFL Draft Data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/NFLdraftData.csv"
spark.sparkContext.addFile(url)

NFL_df = spark.read.option("header", "true").csv(SparkFiles.get("NFLdraftData.csv"), inferSchema=True, sep=",")
NFL_df.show(10)

+----------+---+----+-----------------+----------------+---+----+----+---+---+---+-----+----+----+----+-----+-----+----+-----+-----+-----+----+----+-----+----+----+-----+----+-------------+
|Draft Year|Rnd|Pick|               Tm|          Player|Pos| Age|  To|AP1| PB| St|CarAV|DrAV|   G| Cmp|Att15|Yds16|TD17|Int18|Att19|Yds20|TD21| Rec|Yds23|TD24|Solo|Int26|  Sk| College/Univ|
+----------+---+----+-----------------+----------------+---+----+----+---+---+---+-----+----+----+----+-----+-----+----+-----+-----+-----+----+----+-----+----+----+-----+----+-------------+
|      2020|  1|   8|Arizona Cardinals|  Isaiah Simmons| LB|  22|2020|  0|  0|  0|    0|   0|   8|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|  14|    1|null|      Clemson|
|      2020|  3|  72|Arizona Cardinals|      Josh Jones|  T|  23|2020|  0|  0|  0|    0|   0|   5|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|null| null|null|      Houston|
|      2020|  4| 114|Arizona Cardinals|       Leki Fotu| DT|  22|2020|  0|  0|  0|    0|   0|   6|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|   2| null|null|         Utah|
|      2020|  4| 131|Arizona Cardinals|Rashard Lawrence| DT|  22|2020|  0|  0|  0|    0|   0|   5|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|   2| null|null|          LSU|
|      2020|  6| 202|Arizona Cardinals|     Evan Weaver| LB|null|null|  0|  0|  0| null|null|null|null| null| null|null| null| null| null|null|null| null|null|null| null|null|   California|
|      2020|  7| 222|Arizona Cardinals|    Eno Benjamin| RB|  21|null|  0|  0|  0| null|null|null|null| null| null|null| null| null| null|null|null| null|null|null| null|null|Arizona State|
|      2019|  1|   1|Arizona Cardinals|    Kyler Murray| QB|  22|2020|  0|  0|  1|   14|  14|  24| 539|  821| 5852|  36|   19|  169| 1087|  12|   0|    0|   0|null| null|null|     Oklahoma|
|      2019|  2|  33|Arizona Cardinals|    Byron Murphy| CB|  21|2020|  0|  0|  1|    5|   5|  23|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|  85|    1| 1.0|   Washington|
|      2019|  2|  62|Arizona Cardinals|   Andy Isabella| WR|  22|2020|  0|  0|  0|    2|   2|  23|   0|    0|    0|   0|    0|    5|    9|   0|  22|  353|   3|   1| null|null|Massachusetts|
|      2019|  3|  65|Arizona Cardinals|      Zach Allen| DE|  22|2020|  0|  0|  0|    1|   1|  11|   0|    0|    0|   0|    0|    0|    0|   0|   0|    0|   0|  13| null| 1.0|  Boston Col.|
+----------+---+----+-----------------+----------------+---+----+----+---+---+---+-----+----+----+----+-----+-----+----+-----+-----+-----+----+----+-----+----+----+-----+----+-------------+
only showing top 10 rows

In [8]:
NFL_df.count()

1531

In [9]:
# Print our schema
NFL_df.printSchema()

root
 |-- Draft Year: integer (nullable = true)
 |-- Rnd: integer (nullable = true)
 |-- Pick: integer (nullable = true)
 |-- Tm: string (nullable = true)
 |-- Player: string (nullable = true)
 |-- Pos: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- To: integer (nullable = true)
 |-- AP1: integer (nullable = true)
 |-- PB: integer (nullable = true)
 |-- St: integer (nullable = true)
 |-- CarAV: integer (nullable = true)
 |-- DrAV: integer (nullable = true)
 |-- G: integer (nullable = true)
 |-- Cmp: integer (nullable = true)
 |-- Att15: integer (nullable = true)
 |-- Yds16: integer (nullable = true)
 |-- TD17: integer (nullable = true)
 |-- Int18: integer (nullable = true)
 |-- Att19: integer (nullable = true)
 |-- Yds20: integer (nullable = true)
 |-- TD21: integer (nullable = true)
 |-- Rec: integer (nullable = true)
 |-- Yds23: integer (nullable = true)
 |-- TD24: integer (nullable = true)
 |-- Solo: integer (nullable = true)
 |-- Int26: integer (nullable = true)
 |-- Sk: double (nullable = true)
 |-- College/Univ: string (nullable = true)

In [4]:
from pyspark import SparkFiles
# Connecting to S3 for School Data
url = "https://ncaaproject.s3-us-west-1.amazonaws.com/SchoolCleaned.csv"
spark.sparkContext.addFile(url)

School_df = spark.read.option("header", "true").csv(SparkFiles.get("SchoolCleaned.csv"), inferSchema=True, sep=",")
School_df.show(10)

+--------------------+----------+------------+-----+--------+--------+----------+
|              School|  Latitude|   Longitude|State| REV_MEN| EXP_MEN|    Sports|
+--------------------+----------+------------+-----+--------+--------+----------+
|Alabama State Uni...|32.3651836| -86.2957213|   AL|  992694|  992694|Basketball|
|Alabama State Uni...|32.3651836| -86.2957213|   AL| 3622267| 3622267|  Football|
|Albany State Univ...|31.5734365| -84.1425655|   GA|   88125|  255918|Basketball|
|Albany State Univ...|31.5734365| -84.1425655|   GA|  229371| 1160234|  Football|
|Appalachian State...|36.2109506| -81.6777048|   NC| 1952593| 1952593|Basketball|
|Appalachian State...|36.2109506| -81.6777048|   NC| 9365952| 9365952|  Football|
|Arizona State Uni...|33.4219437|-111.9400636|   AZ|10609465| 8349598|Basketball|
|Arizona State Uni...|33.4219437|-111.9400636|   AZ|39007842|26245544|  Football|
|Arkansas State Un...|35.8414567| -90.6806034|   AR| 1578156| 1578156|Basketball|
|Arkansas State Un...|35.8414567| -90.6806034|   AR| 7789945| 7789945|  Football|
+--------------------+----------+------------+-----+--------+--------+----------+
only showing top 10 rows

In [21]:
School_df.count()

508

In [23]:
# Print our schema
School_df.printSchema()

root
 |-- School: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- REV_MEN: integer (nullable = true)
 |-- EXP_MEN: integer (nullable = true)
 |-- Sports: string (nullable = true)

**Transformation**

In [12]:
Stats = Stats.withColumnRenamed("FG%", "FG_pct")
Stats = Stats.withColumnRenamed("3PM", "ThreePM")
Stats = Stats.withColumnRenamed("3PA", "ThreePA")
Stats = Stats.withColumnRenamed("3P%", "Three_pct")
Stats = Stats.withColumnRenamed("FT%", "FT_pct")
Stats.show()

+-----------------+----+---+----+---+----+-------------------+-------+-------+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
|           Player|Team| GP| MPG|FGM| FGA|             FG_pct|ThreePM|ThreePA|          Three_pct|FTM|FTA|            FT_pct|TOV| PF|ORB|DRB|RPG|APG|SPG|BPG| PPG|
+-----------------+----+---+----+---+----+-------------------+-------+-------+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
|     Tyler Harvey| EWU| 32|36.9|7.2|15.3|              0.469|    4.0|    9.3|              0.431|4.7|5.5|             0.852|2.0|1.9|0.6|3.0|3.6|2.6|1.1|0.1|23.1|
|     Zeek Woodley| NSU| 32|31.5|8.2|14.6|               0.56|    1.2|    3.1|0.39799999999999996|4.6|5.7|             0.813|1.2|2.3|1.7|3.3|5.0|1.1|1.0|0.7|22.2|
|       Tyler Haws| BYU| 35|32.1|7.4|15.4|               0.48|    1.5|    4.2|0.36700000000000005|5.9|6.7|             0.873|2.0|1.4|1.3|3.1|4.5|2.4|0.9|0.3|22.2|
|Denzel Livingston| UIW| 29|36.9|6.6|14.4|              0.455|    1.6|    4.6|0.34299999999999997|6.8|8.5|             0.805|2.8|3.0|1.5|4.4|5.9|2.9|2.6|1.3|21.5|
|       Damion Lee|DREX| 27|38.1|6.3|14.4|0.43799999999999994|    2.4|    6.3|              0.385|6.4|7.2|             0.887|1.9|2.2|0.9|5.2|6.1|2.3|1.5|0.3|21.4|
|      Saah Nimley| CSU| 31|35.7|5.9|15.4|              0.384|    3.5|    9.9|              0.358|6.0|7.4|              0.82|2.7|2.2|0.5|3.5|4.1|4.1|0.9|0.0|21.4|
|        Amere May|DESU| 32|34.2|7.1|17.0|              0.418|    2.8|    7.2|              0.387|4.0|4.9|             0.821|2.9|1.8|1.0|3.2|4.2|2.7|1.0|0.2|21.0|
|    Corey Hawkins| UCD| 28|33.4|6.7|13.4|              0.503|    2.9|    5.9|              0.488|4.6|5.6|0.8220000000000001|3.0|1.9|0.7|4.2|4.9|3.4|1.4|0.2|20.9|
|     D.J. Newbill| PSU| 34|37.1|7.1|15.9|               0.45|    1.8|    4.9|               0.37|4.6|6.1|             0.758|2.6|2.1|1.1|3.6|4.7|3.1|1.3|0.2|20.7|
|        Joe Young|  UO| 36|36.7|7.4|16.4|0.44799999999999995|    2.5|    7.1|0.35700000000000004|3.4|3.7|             0.925|2.4|1.4|0.5|3.9|4.4|3.8|1.1|0.0|20.7|
|  Chavaughn Lewis| MAR| 29|35.7|7.0|16.9|              0.413|    1.4|    4.9|              0.289|5.1|7.7|             0.665|3.6|2.4|0.9|4.4|5.3|2.7|2.3|0.8|20.6|
|        Ty Greene|USCU| 35|34.0|6.6|14.9|              0.444|    2.9|    7.2|0.40700000000000003|4.1|5.4|0.7509999999999999|1.3|1.6|0.9|2.2|3.1|2.1|2.1|0.2|20.3|
|      Jalen Riley|ETSU| 29|27.5|5.7|14.7|              0.387|    2.8|    7.4|              0.374|6.1|7.4|0.8270000000000001|2.8|3.3|0.4|1.9|2.3|2.7|1.7|0.1|20.2|
|    Cameron Payne| MSU| 35|32.2|7.0|15.3|              0.456|    2.4|    6.4|              0.377|3.8|4.8|             0.787|2.5|2.1|0.6|3.1|3.7|6.0|1.9|0.5|20.2|
| A.J. English III|  IC| 34|37.4|6.2|14.4|0.43200000000000005|    3.1|    8.1|              0.387|4.6|5.8|             0.787|3.8|2.7|0.8|4.4|5.1|5.1|1.4|0.5|20.1|
|   D.J. Balentine|  UE| 36|36.6|6.8|15.6|              0.435|    2.1|    5.2|              0.392|4.4|5.9|              0.75|2.2|1.0|0.5|2.7|3.2|3.2|0.8|0.2|20.1|
|       Jalan West| NSU| 32|34.5|6.0|13.2|              0.456|    2.7|    6.4|0.42200000000000004|5.3|6.1|             0.862|2.8|2.0|0.6|3.8|4.4|7.7|2.1|0.3|20.0|
|  Marcus Thornton| W&M| 33|36.7|6.5|14.3|              0.456|    3.1|    7.7|              0.402|3.8|4.6|              0.83|2.3|1.1|0.3|2.5|2.8|2.9|0.6|0.1|20.0|
|      David Laury|  IC| 34|35.3|7.2|15.1|              0.475|    0.8|    2.1|               0.38|4.7|6.9|             0.682|3.0|2.7|2.5|7.2|9.7|2.8|0.8|1.3|19.8|
|  LaDontae Henton|PROV| 34|37.0|6.8|15.2|              0.446|    1.9|    5.6|0.33899999999999997|4.3|5.6|             0.759|2.0|2.2|1.8|4.8|6.5|0.9|1.4|0.5|19.7|
+-----------------+----+---+----+---+----+-------------------+-------+-------+-------------------+---+---+------------------+---+---+---+---+---+---+---+---+----+
only showing top 20 rows

In [15]:
NBAdraft = NBAdraft.withColumnRenamed("pk", "Pick")
NBAdraft.show()

+----+--------------------+--------------+--------------+
|Pick|              Player|    Conference|       College|
+----+--------------------+--------------+--------------+
|   8|       Collin Sexton|  Southeastern|       Alabama|
|   1|       Deandre Ayton|        PAC-12|       Arizona|
|   7|     Lauri Markkanen|        PAC-12|       Arizona|
|  53|        Kadeem Allen|        PAC-12|       Arizona|
|   8|     Stanley Johnson|        PAC-12|       Arizona|
|  23|Rondae Hollis-Jef...|        PAC-12|       Arizona|
|  38|      Daniel Gafford|  Southeastern|      Arkansas|
|  22|        Bobby Portis|  Southeastern|      Arkansas|
|  16|         Chuma Okeke|  Southeastern|        Auburn|
|  12|Taurean Waller-Pr...|        Big-12|        Baylor|
|  26|       Dylan Windler|          null|       Belmont|
|  22|  Chandler Hutchison| Mountain West|   Boise State|
|  13|     Jerome Robinson|Atlantic Coast|Boston College|
|  42|      Olivier Hanlan|Atlantic Coast|Boston College|
|  37|      Richaun Holmes|  Mid-American| Bowling Green|
|  35|           Ivan Rabb|        PAC-12|    California|
|  56|         Jabari Bird|        PAC-12|    California|
|   3|        Jaylen Brown|        PAC-12|    California|
|  60|      Tyrone Wallace|        PAC-12|    California|
|  28|         Jacob Evans|      American|    Cincinnati|
+----+--------------------+--------------+--------------+
only showing top 20 rows

In [5]:
School_df = School_df.withColumnRenamed("REV_MEN", "Revenue")
School_df = School_df.withColumnRenamed("EXP_MEN", "Expense")
School_df.show()

+--------------------+----------+------------+-----+--------+--------+----------+
|              School|  Latitude|   Longitude|State| Revenue| Expense|    Sports|
+--------------------+----------+------------+-----+--------+--------+----------+
|Alabama State Uni...|32.3651836| -86.2957213|   AL|  992694|  992694|Basketball|
|Alabama State Uni...|32.3651836| -86.2957213|   AL| 3622267| 3622267|  Football|
|Albany State Univ...|31.5734365| -84.1425655|   GA|   88125|  255918|Basketball|
|Albany State Univ...|31.5734365| -84.1425655|   GA|  229371| 1160234|  Football|
|Appalachian State...|36.2109506| -81.6777048|   NC| 1952593| 1952593|Basketball|
|Appalachian State...|36.2109506| -81.6777048|   NC| 9365952| 9365952|  Football|
|Arizona State Uni...|33.4219437|-111.9400636|   AZ|10609465| 8349598|Basketball|
|Arizona State Uni...|33.4219437|-111.9400636|   AZ|39007842|26245544|  Football|
|Arkansas State Un...|35.8414567| -90.6806034|   AR| 1578156| 1578156|Basketball|
|Arkansas State Un...|35.8414567| -90.6806034|   AR| 7789945| 7789945|  Football|
|  Ashland University|40.8614368| -82.3228059|   OH|  601260|  601260|Basketball|
|  Ashland University|40.8614368| -82.3228059|   OH| 2018271| 2018271|  Football|
|  Assumption College|42.2922426| -71.8291624|   MA|  808273|  771218|Basketball|
|  Assumption College|42.2922426| -71.8291624|   MA| 1114929| 1058325|  Football|
|   Auburn University|32.5909562| -85.4929785|   AL|15593947|10536653|Basketball|
|   Auburn University|32.5909562| -85.4929785|   AL|95157216|47846261|  Football|
|Augustana University| 43.525073|   -96.73698|   SD|  809276|  809276|Basketball|
|Augustana University| 43.525073|   -96.73698|   SD| 2146448| 2146448|  Football|
|Ball State Univer...|40.1999048| -85.4115988|   IN| 1975432| 1975432|Basketball|
|Ball State Univer...|40.1999048| -85.4115988|   IN| 7135305| 7135305|  Football|
+--------------------+----------+------------+-----+--------+--------+----------+
only showing top 20 rows

**Loading**

In [13]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://ncaa-athletics.cr5bt5kg46tf.us-west-1.rds.amazonaws.com:5432/NCAA_Athletics"
config = {"user":"postgres", 
          "password": "group1final", 
          "driver":"org.postgresql.Driver"}

In [14]:
# Writing NBA Stats table into RDS
Stats.write.jdbc(url=jdbc_url, table='BballStats', mode=mode, properties=config)

In [16]:
# Writing NBA draft data into RDS
NBAdraft.write.jdbc(url=jdbc_url, table='NBAdraft', mode=mode, properties=config)

In [7]:
# Writing Schools table into RDS
School_df.write.jdbc(url=jdbc_url, table='schools', mode=mode, properties=config)