In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd

In [3]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [4]:
football = pd.read_csv('Resources/Football.csv')
football.head()

,DraftYear,Rnd,Pick,Team,Player,GradeFileID,Position,College,CollegeBudgetFileName,Conference,latitude,longitude,ExpensesFootball,RevenueFootball
0,2015,1,1,Tampa Bay Buccaneers,Jameis Winston,9434,QB,Florida St.,Florida State University,ACC,30.440478,-84.290828,68893857,68893857
1,2015,1,2,Tennessee Titans,Marcus Mariota,9435,QB,Oregon,University of Oregon,Pac-12,44.063786,-123.078772,33024841,72146320
2,2015,1,3,Jacksonville Jaguars,Dante Fowler,9436,OLB,Florida,University of Florida,SEC,29.649425,-82.339921,39149664,84837920
3,2015,1,4,Las Vegas Raiders,Amari Cooper,9437,WR,Alabama,The University of Alabama,SEC,33.209609,-87.546648,69718059,94604899
4,2015,1,5,Washington Redskins,Brandon Scherff,9438,T,Iowa,University of Iowa,Big Ten,41.661897,-91.536492,36838032,81037375

In [5]:
football = football[['Position', 'Conference']]
football.head()

  Position Conference
0       QB        ACC
1       QB     Pac-12
2      OLB        SEC
3       WR        SEC
4        T    Big Ten

## Data Pre-Processing

In [40]:
# X = football['Position']
# y = football["Conference"]
# print(X.shape, y.shape)

(1528,) (1528,)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical

In [43]:
X = football['Position'].values
y = football["Conference"].values
X

array(['QB', 'QB', 'OLB', ..., 'G', 'LB', 'LB'], dtype=object)

In [46]:
# Step 1: Label-encode data set
labelencoder = LabelEncoder()
labelencoder_X = labelencoder.fit(X)
encoded_X = labelencoder_X.transform(X)
print(X)

labelencoder_y = labelencoder.fit(y)
encoded_y = labelencoder_y.transform(y)
print(y)

['QB' 'QB' 'OLB' ... 'G' 'LB' 'LB']
['ACC' 'Pac-12' 'SEC' ... 'Div II' 'Missouri Valley' 'SEC']

In [48]:
# Step 2: One-hot encoding
one_hot_X = to_categorical(encoded_X)
one_hot_y = to_categorical(encoded_y)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

ValueError: invalid literal for int() with base 10: 'ILB'